.quiz-container{
    max-width:800px;
    margin:auto;
    padding:50px 20px;
}

.quiz-container h1{
    text-align:center;
    color:#1E3A8A;
}

.progress{
    text-align:center;
    margin:20px;
    font-size:20px;
    color:#555;
}

.quiz-card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.quiz-card h2{
    margin-bottom:30px;
    color:#333;
}

.option-btn{
    width:100%;
    margin:12px 0;
    padding:15px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:#1E3A8A;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.option-btn:hover{
    background:#FF6B00;
}

.result-card{
    text-align:center;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.restart-btn{
    margin-top:30px;
    padding:15px 35px;
    background:#FF6B00;
    color:white;
    border:none;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

.restart-btn:hover{
    background:#e55b00;
}

.excellent{
    color:green;
    font-size:20px;
}

.good{
    color:#1E3A8A;
    font-size:20px;
}

.retry{
    color:red;
    font-size:20px;
}